<!DOCTYPE html>
<html>
<head>
  <title>Liste des éléments</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 20px;
      background-color: #f4f4f4;
    }
    h1 {
      text-align: center;
    }
    ul {
      list-style-type: none;
      padding: 0;
    }
    li {
      background-color: #fff;
      padding: 10px;
      margin-bottom: 10px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    a {
      text-decoration: none;
      color: #007bff;
      margin-bottom: 10px;
      display: inline-block;
    }
    a:hover {
      text-decoration: underline;
    }
    button[type="submit"] {
      padding: 8px 15px;
      background-color: #dc3545;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 14px;
    }
    button[type="submit"]:hover {
      background-color: #c82333;
    }
  </style>
</head>
<body>
  <a href="/">Accueil</a> |
  <a href="/admin/ajouter">Ajouter un élément</a>
  <br>
  <h1>Liste des éléments</h1>

  <br>
  <div>
    <h3>Trier par :</h3>
    <a href="/admin/elements/?sort=nom">Titre</a> |
    <a href="/admin/elements/?sort=annee">Année</a> |
    <a href="/admin/elements/?sort=genre">Genre</a>
    <br><br>
  </div>
  <br>

  <ul>
    <% elements.forEach(function(element) { %>
      <li>
        ID: <%= element.id %> <br><br>
        Titre: <%= element.nom %> <br>
        Annee: <%= element.annee %> <br>
        Description: <%= element.description %> <br>
        Genre: <%= element.genre %> <br>
        Image: <%= element.image %> <br>
        Type: <%= element.type %> <br>
        <br>
        <a href="/admin/modifier/<%= element.id %>">Modifier</a>
        <form action="/admin/supprimer/<%= element.id %>" method="POST" onsubmit="event.preventDefault(); deleteElement(<%= element.id %>)">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit">Supprimer</button>
        </form>
      </li>
    <% }); %>
  </ul>
</body>
<script>
  function deleteElement(id) {
    if (confirm('Êtes-vous sûr de vouloir supprimer cet élément ?')) {
      fetch(`/admin/supprimer/${id}`, {
        method: 'DELETE',
      })
      .then(response => {
        if (response.ok) {
          window.location.reload();
        } else {
          throw new Error('La suppression a échoué');
        }
      })
      .catch(error => {
        console.error('Erreur lors de la suppression:', error);
      });
    }
  }
</script>
</html>
